body {
	height: 20em;
	width: 50em;
}

main {
	text-align: center;
}

section {
	border: 1px solid #dad1d1;
	border-radius: 5px;
	padding: 20px;
	width: 60%;

	margin: 20px auto;
}

#click {
	background: none;
	padding: 0.5rem 2rem;
	border: 1px solid #d1cece;
	border-radius: 5px;
	cursor: pointer;
	transition: 300ms transform;
}

#click:hover {
	transform: scale(1.025);
	background-color: #dad1d1;
}

.text {
	text-align: center;
}
